* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
}

header {
    border-bottom: 1px solid #999;
    margin-bottom: 2rem;
    display: flex;
    color: green;
    width: 100%;
}

nav {
    width: 100%;
}

.branding a {
    color: purple;
    font-family: Ubuntu, serif;
}

.navbar-nav {
    display: flex;
    flex-direction: row;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    justify-content: space-evenly;
    width: 100%;
}

.nav-left {
    margin-right: auto;
}

.nav-right {
    display: flex;
    padding-top: 2rem;
}

.current-user {
    color: green;
    margin: auto;
    /*display: flex;*/
    /*align-content: center;*/
    /*justify-content: center;*/
}

.card-header a,
.card-header a:visited {
    text-decoration: none;
    color: navy;

}

.post-entry {
    margin-bottom: 2rem;
    min-height: 90vh;
}

.post-entry h2 {
    margin: 0.5rem 0;
}

.post-entry h2 a,
.post-entry h2 a:visited {
    color: navy;
    text-decoration: none;
}

.post-entry p {
    margin: 0;
    font-weight: 400;
}

.post-entry h2 a:hover {
    color: red;
}
