{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta
            name="viewport"
            content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <!-- CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet"/>
    <link href="{% static  'css/base.css' %}" rel="stylesheet"/>
    <title>Home | Denmau Chat</title>
</head>
<body>
<div class="container">
    <nav class="navbar navbar-expand-lg">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="navbar-brand text-primary">
                <a class="nav-link" href="{% url 'home' %}">Denmau Chat</a>
            </li>
            <span class="text-right current-user">
                    {# Spacing done by CSS #}
                </span>
            {% if user.is_authenticated %}
                <li class="navbar-item">
                    <p>
                        <a href="{% url 'logout' %}" class="btn btn-outline-danger"><span
                                class="text-primary">{{ user.username }}</span><br> <span
                                class="text-muted">Log Out</span></a>
                    </p>
                </li>
            {% else %}
                <li class="navbar-item">
                    <a class="nav-link btn btn-outline-primary" href="{% url 'login' %}">Log in</a>
                </li>
                <li class="navbar-item ml-3">
                    <a class="nav-link btn btn-primary" href="{% url 'signup' %}">Sign up</a>
                </li>
            {% endif %}
        </ul>
    </nav>
</div>

{# main page content #}
<div class="container">
    {% block content %}
    {% endblock content %}
</div>

<footer>
    <div class="container text-center">
        {% if user.is_authenticated %}
            <form action="/new_chat/" method="post">
                {# to prevent cross site scripting #}
                {% csrf_token %}
                <div class="form-row input-group w-100">
                    <input type="text" id="newChat" name="chat" placeholder="type message..."
                           class="w-75"/>
                    {# Hidden Field to capture current user as the sender of the message #}
                    {# This is not secure as user may inspect and change this vaue, however I will work with this for now #}
                    <input type="text" style="display: none" name="sent_by" value="{{ user.username }}">
                    <button class="btn btn-primary ml-2" type="submit" value="ok">SEND</button>
                </div>
            </form>
        {% else %}
            <p class="text-center text-muted">Please <a
                    href="{% url 'login' %}">Log in</a> or <a
                    href="{% url 'signup' %}">Sign up</a> to join chat</p>
        {% endif %}
    </div>
</footer>

</body>
</html>
