body {
    font-family: Ubuntu, sans-serif;
    font-size: 18px;
    position: relative;
}

h1 a {
    color: red;
    text-decoration: none;
}

nav {
    width: 100%;
}

.navbar-nav {
    display: flex;
    flex-direction: row;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    justify-content: space-evenly;
    width: 100%;
}

.nav-left {
    margin-right: auto;
}

.nav-right {
    display: flex;
    padding-top: 2rem;
}

/* chat message */
.card-header {
    color: navy;
    background: black;
}

.card-body {
    margin: 0;
    font-family: Ubuntu, sans-serif;
    font-size: 1rem;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}




