{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static  'css/base.css' %}" rel="stylesheet">
    <title>Home | Django Blog</title>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                <li class="navbar-item"><a class="nav-link" href="{% url 'home' %}">Django Blog</a></li>
                <span class="text-right">
                    {# Spacing done by CSS #}
                </span>
                {% if user.is_authenticated %}
                    <li class="navbar-item"><a class="nav-link" href="{% url 'post_new' %}">+ New Blog</a>
                    </li>
                {% else %}
                    <li class="navbar-item"><a class="nav-link" href="{% url 'login' %}">Log in</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </nav>
</header>

<div class="container">
    {% block content %}
    {% endblock content %}
</div>
</body>
</html>