{% extends 'base.html' %}

{% block content %}

    {% if user.is_authenticated %}
{#        <p>User: {{ user.id }}</p>#}
{#        <p>Blog Id: {{ object.author.id }}</p>#}
        {% if user.id == object.author.id %}
            <a href="{% url 'post_edit' post.pk %}">Edit Post</a>
            <span class="mx-5"></span>
            <a href="{% url 'post_delete' post.pk %}" class="text-danger">Delete Post</a>
        {% else %}
            <p class="text-danger text-center">Hi {{ user.username }}, you are not the author of this post, you can only view but not edit</p>
        {% endif %}
        {#        <a href="{% url 'post_edit' post.pk %}">Edit Post</a>#}
        {#        <span class="mx-5"></span>#}
        {#        <a href="{% url 'post_delete' post.pk %}" class="text-danger">Delete Post</a>#}
    {% else %}
        <p class="text-center text-muted"><a href="{% url 'login' %}">Log in</a> to Edit or
            Delete this post</p>
    {% endif %}
    <div class="post-entry">
        <h2>{{ object.title }}</h2>
        <p>{{ object.body }}</p>
    </div>

{% endblock content %}