{% extends 'base.html' %}

{% block content %}
    {% if user.is_authenticated %}
        <a href="{% url 'post_edit' post.pk %}">Edit Post</a>
        <span class="mx-5"></span>
        <a href="{% url 'post_delete' post.pk %}" class="text-danger">Delete Post</a>
    {% else %}
        <p class="text-center text-muted">Log in to Edit or Delete this post</p>
    {% endif %}
    <div class="post-entry">
        <h2>{{ object.title }}</h2>
        <p>{{ object.body }}</p>
    </div>

{% endblock content %}