{% extends 'base.html' %}
{% block content %}
    <h1>Delete post</h1>
    <form action="" method="post">{% csrf_token %}
        {% if user.is_authenticated and user.id == post.author.id %}
            <p>Are you sure you want to delete "{{ post.title }}"?</p>
            <input type="submit" class="btn btn-primary mt-4 ml-2" value="Confirm">
        {% elif not user.is_authenticated %}
            {# if someone tries to delete a post by manually going directly to this url, prevent post from being deleted #}
            <p class="text-info">You need to login in order to delete a post</p>
        {% else %}
            {# if someone tries to delete a post by manually going directly to this url, prevent post from being deleted #}
            <p class="text-danger">Not sure how you got here, but you are not logged in as the author of this post, so
                you can't delete this post</p>
        {% endif %}
    </form>
{% endblock content %}