<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About | Hello World Django Project</title>
</head>
<body>
{% extends 'base.html' %}
{% block content %}
    <h1>This is the about Page</h1>
    <p>
        <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores deserunt dolorem eaque eius exercitationem fuga fugiat illum, in iusto laudantium magni molestiae nobis,
        non officia optio quidem reprehenderit rerum voluptatibus?</span>
    </p>
{% endblock content %}

</body>
</html>